#search-form {
  width: 340px;
  display: inline-block;
  background: rgba(5, 4, 4, 0.2);
  border-radius: 60px;
  border: black;
  backdrop-filter: blur(4px) saturate(180%);
}

#search-form button {
  width: 10px;
  border: none;
  background: none;
  cursor: pointer;
  color: rgba(8, 7, 7, 0.737);
}

#search-form input {
  background: transparent;
  border: black;
  outline: black;
  padding: 8px 30px 8px 5px;
  font-size: 16px;
  color: rgb(10, 9, 9);
}

.wrapper-b .but .iput-btn {
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 40px;
}

.wrapper-b .but .iput-btn i {
  font-size: 25px;
  line-height: 40px;
}

h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
  color: rgb (135, 135, 135);
  font-size: 15px;
  font-weight: 100;
  line-height: 19px;
}
li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
  text-decoration: none;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
  text-decoration: none;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast-date {
  margin-top: 20px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast-temperatures {
  font-size: 13px;
}

.wrapper-g .button {
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: wheat;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba (0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}
.wrapper-g .button:hover {
  width: 200px;
}

.wrapper-g .button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
}

.wrapper-g .button:nth-child(1):hover .icon {
  background: #4267b2;
}

.wrapper-g .button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper-g .button:hover .icon i {
  color: #fff;
}
.wrapper-g .button span {
  font-size: 20px;
  font-weight: 600;
  line-height: 60px;
  margin-left: 10px;
  text-align: center;
}
